@font-face {
  font-family: 'NotoSansDisplay';
  src: local('NotoSansDisplay'),
    url(./fonts/NotoSansDisplay-Regular.ttf) format('truetype');
}

html {
  width: 1024px;
  height: 768px;
}

body {
  width: 1024px;
  height: 768px;
  margin: 0;
  font-family: NotoSansDisplay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
